<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Examen</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center;" >
        <h1>Registro de Examen</h1>
        </div>
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>Cantidad de Preguntas</mat-label>
          <input matInput placeholder="20" formControlName="cantidad_preguntas" required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Dificultad de examen</mat-label>
          <input matInput placeholder="Alto" formControlName="pregunta_exam" required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Tipo examen</mat-label>
            <input matInput placeholder="Oral" formControlName="respuesta_exam" required>
          </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Calificación del examen</mat-label>
            <input matInput placeholder="20" formControlName="calificacion_exam" required>
          </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Nombre Simulación</mat-label>
          <mat-select formControlName="simulation" [(value)]="idSimulationSelecionado" required>
            <mat-option *ngFor="let s of listaSimulation" [value]="s.idSimulations">
              {{s.name_curso}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <div style="text-align: center;">
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/exams">Cancelar</button>
            </div>
        <p>{{mensaje}}</p>
      </form>
    </div>
</body>
</html>
