<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulacion</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center;">
            <h1>Simulaciones</h1>
        </div>
        <div style="text-align:end;">
            <button mat-raised-button color="primary" routerLink="/simulations/new">Agregar</button>
            <button mat-raised-button color="primary" routerLink="/reportes/reporte1">Reporte</button>
        </div>
        <br>
        <!-- FILTRAR -->
        <mat-form-field>
            <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- en los "" va el nombre de displaycolumns []
            en elements. pego lo del author.ts de model
            -->

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.idSimulations}} </td>
            </ng-container>

            <ng-container matColumnDef="name_curso">
                <th mat-header-cell *matHeaderCellDef> Nombre del Curso </th>
                <td mat-cell *matCellDef="let element"> {{element.name_curso}} </td>
            </ng-container>

            <ng-container matColumnDef="plan_curso">
                <th mat-header-cell *matHeaderCellDef> Plan del Curso </th>
                <td mat-cell *matCellDef="let element"> {{element.plan_curso}} </td>
            </ng-container>

            <ng-container matColumnDef="metodologia_curso">
                <th mat-header-cell *matHeaderCellDef> Metodología </th>
                <td mat-cell *matCellDef="let element"> {{element.metodologia_curso}} </td>
            </ng-container>

            <ng-container matColumnDef="duracion_horas">
                <th mat-header-cell *matHeaderCellDef> Duración </th>
                <td mat-cell *matCellDef="let element"> {{element.duracion_horas}} </td>
            </ng-container>

            <ng-container matColumnDef="professions">
              <th mat-header-cell *matHeaderCellDef> Nombre de Profesión </th>
              <td mat-cell *matCellDef="let element"> {{element.professions.nombre}} </td>
          </ng-container>

            <!-- MODIFICAR -->
            <ng-container matColumnDef="accions1">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [routerLink]="['edicion', element.idSimulations]">
                    <mat-icon>edit</mat-icon>
                </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="accions2">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="confirm(element.idSimulations)"><span class="material-icons">delete</span></button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <br>

        <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</body>
</html>
