<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <mat-toolbar>
        <div class="example-button-container">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        <h1>Future Engineers</h1>
        <span class="example-spacer"></span>
        <div class="example-button-row">
            <button mat-raised-button routerLink="/Informacion">Información</button>
            <button mat-raised-button routerLink="/Contacatanos">Contáctanos</button>
            <button mat-raised-button routerLink="/Login">Ingresar</button>
            <button mat-raised-button routerLink="/Users">Registrarse</button>
            <button mat-raised-button routerLink="/simulations">Simulaciones</button>
            <button mat-raised-button routerLink="/chats">Chats</button>
        </div>
      </mat-toolbar>
</body>
</html>
