
    <mat-toolbar>
        <span>Future Engineers</span>
        <span class="example-spacer"></span>
        <div class="example-button-row">
            <button mat-raised-button routerLink="/Informacion">Información</button>
            <button mat-raised-button routerLink="/Contacatanos">Contáctanos</button>
            <button mat-raised-button routerLink="/Login">Ingresar</button>
            <button mat-raised-button routerLink="/users">Users</button>
            <button mat-raised-button routerLink="/students">Estudiantes</button>
            <button mat-raised-button routerLink="/simulations">Simulaciones</button>
            <button mat-raised-button routerLink="/chats">Chats</button>
        </div>
      </mat-toolbar>

