<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear Tutor</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center;" >
        <h1>Registro de estudiantes</h1>
        </div>
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>especializacion</mat-label>
          <input matInput placeholder="especializacion" formControlName="especializacion" required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Nombre Completo</mat-label>
          <input matInput placeholder="Nombre completo" formControlName="nombre_completo" required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="algo@example.com" formControlName="correo_electronico" required>
        </mat-form-field>
        <br>

        <!-- <br>                               //DESVINCULANDO TUTORS DE USER PARA IMPLEMENTAR SECURITY
        <mat-form-field appearance="fill">
          <mat-label>User</mat-label>
          <mat-select formControlName="user" [(value)]="idUsersSeleccionado" required>
            <mat-option *ngFor="let u of lista" [value]="u.idUsers">
              {{u.nombre_completo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br> -->

        <div style="text-align: center;">
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/tutors">Cancelar</button>
            </div>
        <p>{{mensaje}}</p>
      </form>
    </div>
</body>
</html>
