<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container">

      <div style="text-align: center;">
        <h1>Tutores</h1>
      </div>
      <div style="text-align:end;">
        <button mat-raised-button color="primary" routerLink="/tutors/new">Agregar</button>
    </div>
    <br>

    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
      </mat-form-field>


      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column  ng-container son las columnas-->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.idTutors}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="especializacion">
          <th mat-header-cell *matHeaderCellDef> Especializacion </th>
          <td mat-cell *matCellDef="let element"> {{element.especializacion}} </td>
        </ng-container>
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef> nombreCompleto </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
        </ng-container>
        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.user.nombre_completo}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Users_user_id">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.Users_user_id.username}} </td>
        </ng-container> -->

        <ng-container matColumnDef="accions1">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [routerLink]="['edicion', element.idTutors]">
            <mat-icon>edit</mat-icon>
          </button>
          </td>
      </ng-container>

      <ng-container matColumnDef="accions2">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="confirm(element.idTutors)"><span class="material-icons">delete</span></button>
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <mat-paginator>
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
</body>
</html>

