mat-form-field{
    width: 95%;
}

h1{
    padding: 2rem ;
  }

body{
    padding: 0;
    margin-bottom: 0;
}

footer{
    height: auto;
    width: 42%;
    text-align: center;
    margin: auto;	
    font-size: 9px;
    margin-top: 15px;
    color: gray;
}
