<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Simulación</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center;" >
        <h1>Registro de Simulaciones</h1>
        </div>
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>Curso</mat-label>
          <input matInput placeholder="Curso" formControlName="name_curso" required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Plan del Curso</mat-label>
          <input matInput placeholder="Plan Curso" formControlName="plan_curso" required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Metodología del Curso</mat-label>
            <input matInput placeholder="Metodologia Curso" formControlName="metodologia_curso" required>
          </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Duración del Curso</mat-label>
            <input matInput placeholder="Duracion en horas" formControlName="duracion_horas" required>
          </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Nombre Profesión</mat-label>
          <mat-select formControlName="professions" [(value)]="idProfessionsSelecionado" required>
            <mat-option *ngFor="let p of listaProfessions" [value]="p.idProfessions">
              {{p.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <div style="text-align: center;">
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/simulations">Cancelar</button>
            </div>
        <p>{{mensaje}}</p>
      </form>
    </div>
</body>
</html>
