<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <mat-toolbar color="primary">
        <span>Chats</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/chats/new">Agregar</button>
        <button mat-button routerLink="/chats">Listar</button>
      </mat-toolbar>
      <br>

      <div style="text-align: center;">
        <h1>Lista de Mensajes</h1>
      </div>



      <div style="text-align: right;">

        <button mat-raised-button color="warn" routerLink="/chats/new"> Agregar</button>
       </div> <!--BOTON PARA LLEVAR A CREA EDITA CHAT -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.

         The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->

        <ng-container matColumnDef="Codigo">
          <th mat-header-cell *matHeaderCellDef>id</th>

          <td mat-cell *matCellDef="let element">{{ element.id}}</td>
        </ng-container>

        <!-- Name Column -->

        <ng-container matColumnDef="Mensajedelalumno">
          <th mat-header-cell *matHeaderCellDef>mensaje_estudiante</th>

          <td mat-cell *matCellDef="let element">{{ element.mensaje_estudiante}}</td>
        </ng-container>

        <!-- Weight Column -->

        <ng-container matColumnDef="Mensajedeltutor">
          <th mat-header-cell *matHeaderCellDef>mensaje_tutor</th>

          <td mat-cell *matCellDef="let element">{{ element.mensaje_tutor}}</td>
        </ng-container>

        <!-- Symbol Column -->

        <ng-container matColumnDef="fechadeenvio">
          <th mat-header-cell *matHeaderCellDef>fecha_envio</th>

          <td mat-cell *matCellDef="let element">
            {{ element.fecha_envio|date:'hh:mm:ss a'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaderecepcion">
          <th mat-header-cell *matHeaderCellDef>fecha_recepcion</th>

          <td mat-cell *matCellDef="let element">
            {{ element.fecha_recepcion|date:'hh:mm:ss a'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </body>
</html>
